.NavBar {
    background-color: #0E3C4E;
}

a {
  margin: auto;
}

.NavLink {
    color: #b1b0b0 !important;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: left;
    
  }

.NavLink:hover {
color: #ffffff !important;
transition: color ease-in-out 0.3s;
text-decoration: none;
}

.Active {
  color: #ffffff !important;
}

.Icon {
  margin-right: 7px;
  margin-left: 14px;
  font-size: 2rem !important;
}