#reset-this-root {
  all: unset;
}

.FillerImage {
    object-fit: cover;
    height: 80%;
    width: 80%;
    padding: 40px;
    border-radius: 25%;
    margin: auto;
  }

.ProfImage {
  object-fit: cover;
  padding: 20px;
  border-radius: 25%;
  margin: auto;
  }

.Input {
  background: white;
  border-radius: 3px;
  color: black;
  text-align: left;
  padding: 10px;
}

.Header {
  font-weight: bold;
  /* font-size: 22px; */
  /* line-height: 19px; */
  margin-top: 10px;
  margin-bottom: 30px;
  text-align: left;
}

@media screen and (max-width: 991px) {

  .Header {
  
    font-weight: bold;
    /* font-size: 22px; */ 
    margin-top: 30px ;
    margin-bottom: 30px;
    text-align: center;
  }
  
}

h1, h5 {
  color: #FFBB1F;
}

.Paragraphs {
  font-size: 1.5rem;
  text-align: left;
}

hr {
  border: 0.1px solid white;
}



.SignOutButton {
  margin-top: 15px;
  margin-bottom: 10px;
}



