.FillerImage {
    object-fit: cover;
    height: 100%;
    width: 100%;
    padding: 40px;
  }

.Input {
  background: #ffffff;
  border: 1px solid #f0f1f9;
  box-sizing: border-box;
  border-radius: 2px;
  color: #7177a1;
  text-align: center;
  padding: 10px;
}

.Header {
  
  font-weight: bold;
  font-size: 22px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  color: #FFBB1F;
}

.Row {
  height: 50vh;
}

