.App {
    font-family: "Lato", sans-serif;
    background-color: #051F27;
    min-height: 100vh;
  }
  
* {
  box-sizing: border-box;
}

.Sidebar {
  padding-top: 81px;
}

.Main {
  color: white;
  padding-top: 100px;
}

@media screen and (max-width: 767px) {

  .Main {
    padding-top: 70px;
  }
  
}

@media screen and (max-width: 991px) and (min-width: 768px) {

  .Main {
    padding-top: 120px;
  }
  
}

.Links:hover {
  text-decoration: none;
}

.Links {
  color: white;
  text-decoration: none;
}

.Links2 {
  color: rgb(0, 0, 0);
}


